* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("bg-intro-desktop.png");
  width: 1440px;
}

.text {
  position: relative;

  width: 600px;
  color: white;

  left: 200px;
  top: 300px;
  height: 150px;
}
.head {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.form {
  position: relative;
  left: 900px;
  background-color: white;
  width: 400px;
  top: 100px;
  height: 380px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  bottom: 100px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5em;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 30px;
}

input {
  display: inline-block;
  position: relative;

  height: 25px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 0.5em;

  padding: 0.5rem;
  width: 350px;
  left: 10px;
  top: 10px;
  height: 40px;
  box-sizing: border-box;
}


.trial {
  color: hsl(246, 25%, 77%);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  position: relative;
  top: 7px;
  text-align: center;
}
.free {
  position: relative;
  width: 400px;
  background-color: hsl(248, 32%, 49%);
  height: 40px;
  left: 900px;
  top: 80px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  align-items: center;
  padding-top: 7px;
  border-radius: 0.5em;
}
.first {
  font-weight: 400;
  font-size: 12px;
}

.button {
  background-color: hsl(154, 59%, 51%);
  width: 350px;
  height: 40px;
  position: relative;
  left: 10px;
  padding-top: 10px;
  border-radius: 0.4em;
  text-align: center;
  top: 8px;

  color: white;
  font-size: 13px;
  font-weight: 400px;
  cursor: pointer;
}
.button:hover {
  background-color: hsl(154, 73%, 50%);
}
a:link {
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  body {
    width: 375px;
    background-image: url("bg-intro-mobile.png");
    align-content: center;
    align-items: center;
  }

  .text {
    width: 335px;
    padding: 10px;
    position: relative;
    float: center;
    margin: auto;
    left: 0px;
    padding: 0;
    top: 70px;
    height: 150px;

    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
  }

  .head {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;

    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 25px;
  }

  .form {
    position: relative;

    background-color: white;
    width: 325px;
    top: 200px;
    height: 320px;
    padding: 0px;
    float: center;
    margin: auto;
    left: 0px;

    bottom: 150px;

    align-items: center;
    align-self: center;
    align-content: center;
  }

  input {
    display: inline-block;
    position: relative;

    height: 25px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 0.5em;

    padding: 0.5rem;
    width: 285px;
    left: 20px;

    top: 20px;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .button {
    background-color: hsl(154, 59%, 51%);
    width: 285px;
    height: 35px;
    position: relative;

    padding-top: 10px;
    border-radius: 0.4em;
    text-align: center;
    top: 17px;
    left: 20px;
    text-align: center;
  }
  .free {
    position: relative;
    width: 325px;

    height: 80px;

    text-align: center;

    border-radius: 0.5em;
    align-items: center;
    align-self: center;
    align-content: center;
    top: 180px;

    padding: 0px;
    float: center;
    margin: auto;
    left: 0px;
    padding-top: 15px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .trial {
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 11px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: normal;
  }
  .first {
    font-weight: 400;
    font-size: 16px;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
  }
}
