* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("bg-intro-desktop.png");
  width: 1440px;
}

.text {
  position: relative;
  left: auto;

  width: 600px;
  color: white;
  width: 550px;
  left: 200px;
  top: 400px;
  height: 150px;
}
.head {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.form {
  position: relative;
  left: 900px;
  background-color: white;
  width: 400px;
  top: 100px;
  height: 380px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  bottom: 100px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5em;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

input {
  display: inline-block;
  position: relative;

  height: 25px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 0.5em;

  padding: 0.5rem;
  width: 350px;
  left: 10px;
  top: 10px;
  height: 40px;
  box-sizing: border-box;
}

input:focus {
  border: 1px lightblue;
}
.trial {
  color: hsl(246, 25%, 77%);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  position: relative;
  top: 15px;
  text-align: center;
}
.free {
  position: relative;
  width: 400px;
  background-color: hsl(248, 32%, 49%);
  height: 40px;
  left: 900px;
  top: 90px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  border-radius: 0.5em;
}
.first {
  font-weight: 400;
  font-size: 12px;
}

.button {
  background-color: hsl(154, 59%, 51%);
  width: 350px;
  height: 40px;
  position: relative;
  left: 10px;
  padding-top: 10px;
  border-radius: 0.4em;
  text-align: center;

  color: white;
  font-size: 13px;
  font-weight: 400px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  div {
    display: flex;
  }
  .text {
    display: flex;
  }
  .free {
    display: flex;
  }
  .form {
    display: flex;
  }
}
